@font-face {
    font-family: "myFirstFont";
    src: url("./font/DOMINIKTH.TTF");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
	outline: none;
}

input {
	outline: none;
}

a {
    display: block;
	text-decoration: none;
}






body {
    margin: auto;
    background-color: black;
    min-height: 100vh;
    font-family: 'Century Gothic', sans-serif;
    color: white;
    max-width: 500px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}

header {
    background-color: white;
    display: grid;
    place-items: center;
}

.logo {
    height: 5rem;
    padding: 1rem;
}


.main-image {
    width: 100%;
}

.texto {
    text-align: center;
    padding: 2rem 2rem;
    font-size: 12px;
    line-height: 1.5;
}

.link {
    display: block;
    position: relative;
}

.link-background {
    width: 5rem;
    height: 5rem;
    position: absolute;
    display: grid;
    place-items: center;
    right: 2rem;
    bottom: .5rem;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 50%;
}

.manita {
    width: 4rem;
    animation: manita .7s alternate-reverse infinite;
}


footer {
    padding: 0rem 2rem;
}

.contact-link {
    display: grid;
    grid-template-columns: auto 1fr;
    color: white;
    font-size: 12px;
    align-items: center;
    grid-gap: .3rem;
}

.contact-link > img {
    height: 2rem;
}

.contact-link > p {
    font-weight: bolder;
}

.link-list {
    border-left: white 4px solid;
    padding-left: .5rem;
}

.wrapper-line {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    align-self: flex-end;
    justify-self: center;
}

.line {
    height: 2px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.498);
}

@keyframes manita {
    from {
        width: 3.5rem;
    }

    to {
        width: 4rem;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        height: 3rem;
        padding: 1rem;
    }

    .link-background {
        transform: scale(.7);
        right: 1rem;
        bottom: 0rem;
    }
    
}

@media screen and (max-width: 280px) {
    .texto {
        font-size: 8px;
    }

    .contact-link {
        font-size: 8px;
    }
}